<!-- sidebar.component.html -->
<div class="sidebar">
  <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
  <a href="#"><i class="fa fa-briefcase"></i> Services</a>
  <button class="dropdown-btn"><i class="fa fa-caret-down"></i> More Options</button>
  <div class="dropdown-container">
    <a href="/menu"><i class="fa fa-link"></i>Food Items</a>
    <a href="/create"><i class="fa fa-link"></i> Add Item </a>
    <a href="/tablereserve"><i class="fa fa-link"></i> Reserve Table</a>
    <a href="/tableappreove"><i class="fa fa-link"></i> Table</a>
    <a href="/customers"><i class="fa fa-link"></i> Customer List</a>
    <a href="/createcustomer"><i class="fa fa-link"></i> Add Customer</a>
    <a href="/orders"><i class="fa fa-link"></i> Customer's Order</a>
    <a href="/createorder"><i class="fa fa-link"></i> Order your food</a>
    <a href="/confirmorder"><i class="fa fa-link"></i> Order list</a>
    <a href="/showstaff"><i class="fa fa-link"></i> Staff </a>
    <a href="/createstaff"><i class="fa fa-link"></i> Add New Staff</a>
    <a href="#"><i class="fa fa-link"></i> Link 3</a>
    <a href="#"><i class="fa fa-link"></i> Link 3</a>
  </div>
  <a href="#"><i class="fa fa-phone"></i> Contact Us</a>
  <a href="#"><i class="fa fa-info-circle"></i> About Us</a>
</div>