<!-- sidebar.component.html -->
<div class="sidebar">
  <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
  <a href="#"><i class="fa fa-briefcase"></i> Services</a>
  <button class="dropdown-btn"><i class="fa fa-caret-down"></i> More Options</button>
  <div class="dropdown-container">
    <a href="#"><i class="fa fa-link"></i> Link 1</a>
    <a href="#"><i class="fa fa-link"></i> Link 2</a>
    <a href="#"><i class="fa fa-link"></i> Link 3</a>
  </div>
  <a href="#"><i class="fa fa-phone"></i> Contact Us</a>
  <a href="#"><i class="fa fa-info-circle"></i> About Us</a>
</div>


