<<<<<<< Updated upstream
.container {
    max-width: 800px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  button {
    margin-right: 5px;
=======
.form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-top: 10px;
>>>>>>> Stashed changes
  }
  